ion-toolbar {
  --background: white; // Set the background color to white
}
ion-title {
  color: black;
}
.Titleschnitzel {
  text-align: center;
  font-size: 200%;
  color: black;
}
ion-content {
  --background: white;
  --color: black;
}
ion-checkbox {
  --background: white;
  --border-color: white;
  --border-width: 2px; // Optional: Adjust border width if needed
}
