<ion-header>
  <ion-toolbar>
    <div class="Titleschnitzel">
      <div>Gold Hunters</div>
      <div>by Elias & Kacper</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" [fullscreen]="true">
  <!-- Buttons for permissions -->
  <div>
    <ion-button (click)="requestBarcodePermission()" expand="full">
      Grant Camera Permission
    </ion-button>
    <ion-button (click)="requestGeolocationPermission()" expand="full">
      Grant Geolocation Permission
    </ion-button>
  </div>
  <br />

  <br />

  <!-- Button to proceed, which now checks if permissions are granted -->
  <div>
    <ion-button (click)="goToGetName()" expand="full"> Go to name </ion-button>
  </div>
</ion-content>
