<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">leaderboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <p>{{nameofPlayer}}</p>
    <p>
      {{(timeElapsedQ1 + timeElapsedQ2 + timeElapsedQ3 + timeElapsedQ4) / 1000}}
    </p>
    <ion-button (click)="checkAndIncrementReward()"
      >Check and Increment Reward</ion-button
    >
    <p>{{reward}}</p>
  </ion-item>
</ion-content>
