<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quest 4 {{Playername}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <h1>Walk To The Ping Pong Table!</h1>
    <p class="instruction">Stand up and walk to Ping Pong Table!</p>
    <p class="distance">Distance: {{ destinationdistance }}~ M</p>
    <div class="button-group">
      <ion-button color="medium" (click)="goToScoreBoard()">Done!</ion-button>
      <ion-button color="primary" (click)="presentQuitAlert()"
        >quit!</ion-button
      >
    </div>
  </div>
</ion-content>
