.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  .instruction {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  .distance {
    font-size: 1.5em;
    margin-bottom: 2em;
    font-weight: bold;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    ion-button {
      flex-grow: 1;
      margin: 0 10px;
    }
  }
}

ion-content {
  --background: #fff;
}

ion-header {
  border-bottom: 2px solid #000;
}

ion-toolbar {
  --background: #fff;
  --border-color: #000;
}
ion-title {
  --color: black;
}

p,
h1 {
  color: black;
}
