<ion-header>
  <ion-toolbar>
    <ion-title>Network Connection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div>
    <p>
      Network Status: {{ networkStatus.connected ? 'Connected' : 'Disconnected'
      }}
    </p>
    <p *ngIf="networkStatus.connected">
      Type: {{ networkStatus.connectionType }}
    </p>
  </div>

  <ion-button
    (click)="goToNextQuest()"
    [disabled]="status !== 'connected'"
    color="primary"
    expand="block"
    >Connected & Next!</ion-button
  >
  <ion-button (click)="presentQuitAlert()" color="primary" expand="block"
    >Quit</ion-button
  >
</ion-content>
