.text {
  color: white;
}

.content {
  --background: #fff; // White background for the content
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  color: black;
}
.quest-container {
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: black;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: black;
  }

  .scan-instructions {
    margin-bottom: 15px;
  }

  .status {
    margin-bottom: 15px;
    font-weight: bold;
  }

  .button-container {
    ion-button {
      margin-top: 10px;
    }
  }
}
ion-header {
  --background: white;
}
ion-tab-bar {
  --background: #fff; // White background for the tab bar
}

ion-icon {
  --ionicon-stroke-width: 32px; // Adjust the stroke width as needed
  --color: black;
}
ion-tab-button {
  background-color: black;
}
