<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ playerName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="quest-container">
    <h1>QUEST 1</h1>
    <h2>Scan The Code!</h2>
    <div class="scan-instructions">
      <p>Scan the QR Code</p>
      <p>(^-^)</p>
    </div>
    <p>STATUS:</p>
    <ion-label>{{ status }} </ion-label>
    <div class="button-container">
      <ion-button (click)="scan()" expand="block">Scan The Code!</ion-button>
      <ion-button color="danger" (click)="presentQuitAlert()" expand="block"
        >Quit!</ion-button
      >
      <!-- Disable the button unless the status is 'Scanned' -->
      <ion-button
        (click)="goToQuest2()"
        [disabled]="status !== 'Scanned'"
        color="primary"
        expand="block"
        >Scanned & Next!</ion-button
      >
    </div>
  </div>
</ion-content>

<ion-footer>
  <!-- Footer content -->
</ion-footer>
