<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quest2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">quest2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="batteryInfo">
    <p>
      Battery Level: {{ batteryInfo.batteryLevel * 100 | number: '1.0-0' }}%
    </p>
    <p>Is Charging: {{ batteryInfo.isCharging ? 'Yes' : 'No' }}</p>
    <ion-button
      (click)="goToQuest3()"
      [disabled]="ispluggedin !== 'plugged'"
      color="primary"
      expand="block"
      >Charging & Next!</ion-button
    >
    <ion-button (click)="presentQuitAlert()" color="primary" expand="block"
      >Quit</ion-button
    >
  </div>
</ion-content>
