ion-content {
  --background: #ffffff; // Set the background color to white
}
ion-toolbar {
  --background: #ffffff; // Set the background color to white
}
ion-title {
  color: black;
}

.camera-preview {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  background-color: gray; /* Placeholder color */
}

.scan-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.scanned-content {
  margin-top: 20px;
  text-align: center;
}
#timer {
  font-size: 1em;
  color: #333333;
  text-align: right;
}
