<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foody
      <ion-label id="timer" style="font-size: 2em; color: #333"
        >{{ formattedTime }}</ion-label
      >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Foody</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
