<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foody
      <ion-label id="timer" style="font-size: 2em; color: #333"
        >{{ formattedTime }}</ion-label
      >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-button (click)="goToNewPage()" expand="full"
      >Go to Start Page</ion-button
    >

    <ion-button (click)="startTimer()">Start</ion-button>
    <ion-button (click)="stopTimer()">Stop</ion-button>
  </ion-content>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
