ion-content {
  --background: #ffffff; // Set the background color to white
}
ion-toolbar {
  --background: #ffffff; // Set the background color to white
}
ion-title {
  color: black;
}
#timer {
  font-size: 1em;
  color: #333333;
  text-align: right;
}
button {
  font-size: 1em;
  margin: 10px;
}
