<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Foody</ion-title>
    <ion-label id="timer" style="font-size: 2em; color: #333"
      >{{ formattedTime }}</ion-label
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="camera-preview">
    <ion-icon name="qr-code" class="qr-code-icon"></ion-icon>
  </div>

  <div class="button-container">
    <!-- Buttons are now next to each other -->
    <ion-button (click)="askUserToScan()">Start Scan</ion-button>
    <ion-button (click)="stopScan()">Stop Scan</ion-button>
  </div>

  <div *ngIf="scannedContent" class="scanned-content">
    <h2>Scanned Content:</h2>
    <p>{{ scannedContent }}</p>
  </div>
</ion-content>
