body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

ion-content {
  --background: #ffffff; // Set the background color to white
  display: flex;
  flex-direction: column;
  height: 100vh; // Use the full screen height
  padding: 0;
}

ion-toolbar {
  --background: #ffffff; // Set the toolbar background color to white
  --border-color: transparent; // Hide toolbar border
}

ion-title {
  color: black;
  text-align: center; // Center title text
}

.camera-preview {
  //flex: 1; // Grow to use available space
  width: 100%; // Full width
  height: 100%;
  background-color: grey; // Placeholder for camera preview
  margin: 0; // No margin
  position: relative;
}
.qr-code-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This centers the icon */
  font-size: 4em; /* Adjust the size as needed */
}

.button-container {
  display: flex;
  justify-content: center; // Center buttons horizontally
  padding: 10px 0; // Padding above and below the buttons
}

ion-button {
  margin: 0 10px; // Add horizontal space between buttons
}

.scanned-content {
  text-align: center; // Center scanned content text
  padding: 20px;
}

ion-tab-bar {
  --background: #ffffff; // Set the tab bar background color to white
  --border-color: transparent; // Hide tab bar border
}

ion-tab-button {
  --color-selected: blue; // Color when tab is selected
}
.timer {
  font-size: 1em;
  color: black;
  align-items: end; // Center align-items vertically, if it's meant to be used within a flex container
}
title {
  font-size: 1em;
}
