<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="custom-header">
        Schnitzeljagd-App
        <div class="custom-subtitle">by Kacper and Elias</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="name-input-container">
    <ion-item>
      <ion-label position="floating">Name pls:</ion-label>
      <ion-input
        id="nameInput"
        type="text"
        placeholder="Enter your name"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" class="start-button" (click)="goToStartAlert()"
      >Start!</ion-button
    >
  </div>
</ion-content>
