ion-title {
  --padding-start: 0;
  --padding-end: 0;
  text-align: center;
}

.custom-header {
  font-family: "Arial", sans-serif; // Use the font-family from your first image if different
  font-size: 1.5em; // Adjust the font-size as per your design
  font-weight: bold;
  color: #0000ff; // Adjust the color code to match your design
}

.custom-subtitle {
  font-size: 1em;
  font-weight: normal;
}

.name-input-container {
  padding: 20px;
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --border-radius: 0;
    --background: transparent;
    --border-color: #0000ff; // Match to your design
    --border-width: 2px;
    --placeholder-color: #808080; // Adjust as needed
    --placeholder-font-style: italic;
    --placeholder-opacity: 1;
    margin-bottom: 20px;
  }

  .start-button {
    --background: #0000ff; // Match the button color to your design
    --color: #ffffff; // Adjust text color as needed
    --border-radius: 0;
  }
}
