<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Dynamically display the name in the title -->
    <ion-title>{{ playerName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Include the ion-tabs component here -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goToQuest1()" tab="tab1">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Tab 1</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToQuest1()" tab="tab2">
        <ion-icon name="home"></ion-icon>
        <ion-label>Tab 2</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToQR()" tab="tab3">
        <ion-icon name="qr-code"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
