<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">scoreboard</ion-title>
  </ion-toolbar> </ion-header
><ion-content [fullscreen]="true">
  <h3>Shared Variables:</h3>
  <p>Name: {{ nameofPlayer}}</p>
  <p>Quest1: {{ timeElapsedQ1/1000 }}s</p>
  <p>Quest2: {{ timeElapsedQ2/1000 }}s</p>
  <p>Quest3: {{ timeElapsedQ3/1000}}s</p>
  <p>Quest4: {{ timeElapsedQ4/1000 }}s</p>
  <p>
    Total: {{(timeElapsedQ1 + timeElapsedQ2 + timeElapsedQ3 + timeElapsedQ4) /
    1000}}s
  </p>
  <p>Points: {{ reward }}</p>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goToStart()" tab="tab2">
        <ion-label>Start Again</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
